//BASKET//
.color-white {
  color: $footer-text-color;
}
.basket-block {
  padding-top: 19px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  @include for-size(desktop) {
    // display: none;

    padding-top: 44px;
    padding-left: 30px;
    padding-right: 30px;
  }

  &__total {
    margin-top: 18px;
    margin-bottom: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid $footer-text-color;

    @include for-size(desktop) {
      padding-bottom: 26px;
      margin-top: 25px;
      margin-bottom: 58px;
    }
  }

  &__total-header {
    font-family: 'Cormorant';
    font-weight: 700;
    font-size: 24px;
    color: $footer-text-color;
  }

  &__total-sum {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;

    color: $footer-text-color;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 400px;
    height: 50px;
    margin: 0 auto;

    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $footer-text-color;
    border: 0.5px solid $footer-text-color;

    transition: all 0.3s ease-in-out;

    &:hover {
      // color: $primary-gray-color;
      background-color: $primary-black-color;
      // border-color: $primary-black-color;
    }

    @include for-size(desktop) {
    }
  }

  &__dilivery-block {
    margin-top: 10px;

    @include for-size(desktop) {
      margin-top: 26px;
    }
  }

  &__dilivery--option {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    color: #afafaf;
  }

  &__dilivery--option.select {
    background-color: transparent;
    border: none;
  }
}
.basket-item {
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #e5dfd3;

  &:last-child {
    border-bottom: 1px solid #e5dfd3;
  }
  &__img-block {
    width: 110px;

    margin-right: 20px;

    @include for-size(desktop) {
      width: 116px;
      margin-right: 46px;
    }
    background-color: $primary-white-color;
  }

  &__img {
    width: 100%;
  }
  &__title {
    font-family: 'Cormorant';
    font-weight: 700;
    font-size: 20px;

    color: #e5dfd3;

    @include for-size(desktop) {
      font-size: 24px;
    }
  }

  &__name {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 12px;

    color: #afafaf;

    @include for-size(desktop) {
      font-size: 14px;
    }
  }

  &__price {
    height: 16px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;

    color: #e5dfd3;
  }

  &__block-position {
    display: flex;
    justify-content: space-between;
  }

  &__amount-block {
    display: flex;
    align-items: center;

    font-family: 'Cormorant';
    font-weight: 700;
    font-size: 22px;

    color: #e5dfd3;
  }

  &__amount-btn {
    display: flex;
    align-items: inherit;
    width: 14px;
    height: 20px;
  }

  &__amount {
    margin-left: 18px;
    margin-right: 18px;
  }

  &__remove-btn {
    height: 14px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 12px;

    text-decoration-line: underline;
    color: #afafaf;

    @include for-size(desktop) {
      font-size: 14px;
    }
  }

  &__name-block {
    padding-bottom: 31px;
  }
}

.basket-name-position {
  display: flex;
}
.basket-price__block-position {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  padding-top: 7px;
  padding-bottom: 15px;
}

.flex-space-between-position {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.basket-empty {
  padding-top: 110px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include for-size(desktop) {
    padding-top: 150px;
  }

  &__text-block {
    margin: 0 auto;
    width: 350px;
    @include for-size(desktop) {
    }
  }
  &__text {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 12px;
    line-height: 160%;

    text-align: center;
    letter-spacing: 0.04em;

    color: #e5dfd3;

    @include for-size(desktop) {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @include for-size(desktop) {
        margin-bottom: 24px;
      }
    }
  }

  &__btn {
    margin-top: 30px;
  }

  &__img {
    margin: 84px auto 0 auto;

    @include for-size(desktop) {
      margin: 40px auto 0 auto;
    }
  }
}
