.navigation-desktop {
  padding-left: 86px;
  // display: none;

  @media (min-width: 950px) {
    display: block;
  }

  &__nav {
    display: none;
    @include for-size(desktop) {
      display: flex;
      justify-content: space-between;
      padding-top: 34px;
      position: static;
    }
  }
  &__nav.main-page {
    position: absolute;
    z-index: 5;
  }

  &__nav.scroll-nav {
    padding-top: 13px;
    align-items: center;
  }

  &__list {
    @include for-size(desktop) {
      display: flex;
      justify-content: flex-end;
    }
  }
  &__list > li:not(:last-child) {
    margin-right: 48px;
  }

  &__block {
    display: flex;
    justify-content: flex-end;
  }

  &__logo {
    display: none;

    @include for-size(desktop) {
      padding-top: 36px;
      display: block;
      position: absolute;
      z-index: 100;
    }
  }
  &.mission-page .logo {
    fill: $footer-text-color;
    z-index: 100;
  }

  &__header {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.04em;

    text-transform: uppercase;
  }

  &__item {
    padding-top: 86px;
    height: 100vh;
    transition: transform 500ms ease-in-out;

    @include for-size(desktop) {
      padding-top: 36px;
    }

    &.is-open {
      display: block;
    }
  }

  //SHOP//

  &__item.shop {
    display: none;
    top: 0;

    @include for-size(desktop) {
      display: block;
      height: 100vh;
      position: absolute;
      z-index: 4;
      width: 422px;
      transform: translateX(65px);
      padding-left: 30px;
      padding-right: 32px;

      background-color: $secondary-gray-background-color;
    }

    &:hover {
      transform: translateX(-95px);
    }

    &.not-main-page {
      @include for-size(desktop) {
        position: fixed;
        transform: translateX(640px);
      }
    }

    &.is-open {
      @include for-size(desktop) {
        height: 100vh;
        transform: translateX(80px);
      }
    }
  }

  //ABOUT//

  &__item.about {
    display: none;
    top: 0;
    @include for-size(desktop) {
      display: block;
      transform: translateX(145px);
      width: 416px;
      padding-left: 26px;
      padding-right: 26px;
      position: absolute;
      z-index: 5;

      background-color: $secondary-text-color;
    }
    &.main-page {
      &:hover {
        transform: translateX(-10px);
      }
    }

    &.not-main-page {
      @include for-size(desktop) {
        position: fixed;
        transform: translateX(525px);
      }
    }

    &.is-open {
      @include for-size(desktop) {
        transform: translateX(80px);
      }
    }
  }

  //ACCOUNT//

  &__item.account {
    position: absolute;
    top: 0;
    z-index: 6;
    background-color: #afafaf;
    padding-left: 18px;
    padding-right: 18px;

    transform: translateX(-125%);
    transition: transform 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
    @include for-size(desktop) {
      display: block;
      width: 455px;
      transform: translateX(280px);
      transition: transform 500ms ease-in-out;
    }

    &.not-main-page {
      @include for-size(desktop) {
        position: fixed;
        transform: translateX(535px);
      }
    }
    &.main-page {
      &:hover {
        @include for-size(desktop) {
          transform: translateX(-80px);
        }
      }
    }

    &.is-open {
      width: 100%;

      transform: translateX(0);

      @include for-size(desktop) {
        display: block;
        width: 455px;
        transform: translateX(75px);
      }

      & .account-block {
        display: block;
      }
    }

    // &:hover {
    //   @include for-size(desktop) {
    //     transform: translateX(-80px);
    //   }
    // }

    &:hover .account-block {
      // display: block;
      visibility: visible;
    }
  }

  //BASKET//

  &__item.basket {
    transform: translateX(-100%);
    z-index: 7;
    position: absolute;
    top: 0;
    width: 100%;

    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 35px;
    background-color: #383838;
    overflow-y: scroll;
    @include for-size(desktop) {
      display: block;
      width: 565px;
      padding-left: 23px;
      padding-right: 23px;
      padding-bottom: 66px;
      transform: translateX(480px);
      transition: transform 500ms ease-in-out;
    }
    transition: transform 600ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &.not-main-page {
      @include for-size(desktop) {
        // display: none;
        position: fixed;
        transform: translateX(640px);
      }
    }

    &.is-open {
      display: block;

      transform: translateX(0);
      @include for-size(desktop) {
        transform: translateX(80px);
      }
    }

    // &:hover {
    //   @include for-size(desktop) {
    //     transform: translateX(0);
    //   }
    // }

    &.main-page {
      &:hover {
        @include for-size(desktop) {
          transform: translateX(0);
        }
      }
    }

    &:hover .basket-block {
      display: block;
    }

    &.is-open .basket-block {
      display: block;
    }
  }
}

.navigation-desktop__item .navigation-desktop__button {
  display: none;
}
.navigation-desktop__item.not-main-page .navigation-desktop__button {
  display: block;
}
